<!-- 使用ng-controller设置控制器 -->
  <!-- 路径导航开始 -->
<ol class="breadcrumb">
  <li><a href="index.html#/">首页</a></li>
  <li><a href="index.html#/">电影</a></li>
  <li class="active">{{detailData.nm}}</li>
</ol>

  <div class="row" >

    <div class="col-md-4">
      <img ng-src={{detailData.img}} alt="{detailData.nm}">
    </div>

    <div class="col-md-8">
      <h3><b>{{detailData.nm}}</b></h3> 
      <p>又名：
         {{detailData.scm}}
      </p>
      <p>上映时间：
         {{detailData.rt}}
      </p>
      <p>{{detailData.wish}}人想看</p>
      <p>评分:{{detailData.sc}}</p>  
      <p>导演:{{detailData.dir}}</p>     
      <p>主演:
        {{detailData.star}}
      </p>
      <p>类型:
        {{detailData.cat}}
      </p>
      <p>{{detailData.src}}/{{detailData.dur}}分钟</p>
      简介:{{detailData.dra}}
    </div>
     
     
  </div>

   <!-- 评论开始 -->
      <div class="rowmT20" >
        <!-- 显示评论开始 -->
         <div class="col-md-12">
           <h3>评论</h3>
           <blockquote ng-repeat="review in reviewData">
             
            <p>
              <img class="userHead" ng-src={{review.avatarurl}} alt="">&nbsp;&nbsp;{{review.nickName}} 
            </p>
             <p><b>{{review.score}}分</b> &nbsp;&nbsp;{{review.content}}</p>
             <small> {{review.time}}</small>
           </blockquote>
         </div>
          <!-- 显示评论结束 -->

         <!-- 评论表单开始 -->
         <div class="col-md-6">
           <form class="form-horizontal"  ng-submit="addReview(review)">
             <!-- 用于即时显示用户输入内容 -->
             <blockquote>
              <p>
                <img class="userHead" src="http://p0.meituan.net/movie/__40465654__9539763.png">
                &nbsp;&nbsp;{{review.nickName}} 
              </p>
              <p><b>{{review.score}}分</b> &nbsp;&nbsp;{{review.content}}</p>
              <small> {{review.time}}</small>
           </blockquote>
             </blockquote>
               <!-- 使用ng-model进行双向数据绑定 -->
              <div class="form-group">
               <label for="textStar" class="col-sm-2 control-label">分数：</label>
               <div class="col-sm-3">
                 <select ng-model="review.score"  class="form-control" id="textStar">
                   <option value="1">1</option>
                   <option value="2">2</option>
                   <option value="3">3</option>
                   <option value="4">4</option>
                   <option value="5">5</option>
                 </select>
               </div>
             </div>
             <div class="form-group">
               <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
               <div class="col-sm-10">
                 <input ng-model="review.nickName" type="email" class="form-control" id="inputEmail3" placeholder="邮箱">
               </div>
             </div>

             <div class="form-group">
               <label for="inputPassword3" class="col-sm-2 control-label">内容</label>
               <div class="col-sm-10">
                 <textarea ng-model="review.content"  class="form-control" id="inputPassword3" placeholder="内容"></textarea>
               </div>
             </div>

             <div class="form-group">
               <div class="col-sm-offset-2 col-sm-10">
                 <button type="submit" class="btn btn-primary" >评论</button>
               </div>
             </div>

           </form>
         </div>
         <!-- 评论表单结束 -->

       </div>
       <!-- 评论结束 -->